<div class="row">
  <h2 class="text-center"><%= @user.name %>'s To-Dos</h2>
  <div class="col-md-8 center box">
    <table class="table table-hover">
      <thead>
        <td class="text-center"><h4>Task</h4></td>
        <td class="text-center"><h4>Days left</h4></td>
        <td class="text-center"><h4>Complete</h4></td>
      </thead>
      <tbody>
        <% if @items.any? %>
          <%= render partial: 'items/item', collection: @items %>
        <% end %>
        <tr>
          <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
        </tr>
      </tbody>
    </table>
  </div>
</div>