<div class="jumbotron">
  <h1>Blocitoff</h1>
  <h3>Create self-destructing to-do lists</h3>
  <p>Blocitoff aims to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days.</p>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>&nbsp
  <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %>
</div>