<%= form_for [user, item] do |f| %>
  <td colspan="2">
    <%= f.text_field :description, class: 'form-control', placeholder: "Enter new task" %>
  </td>
  <td class="text-center">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </td>
<% end %>