<%= content_tag :tr, id: "item-#{item.id}" do %>
  <td class="text-left"><%= item.description %></td>
  <td class="text-center"><%= item.days_left %></td>
  <td class="text-center"><%= link_to '', [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></td>
<% end %>